datasets
llama-index
langchain-text-splitters
llama-index-embeddings-huggingface
llama-index-retrievers-bm25
sentence-transformers
transformers
accelerate
numpy
chromadb
llama-index-vector-stores-chroma
pandas
datasets
pyyaml
python-dotenv
tqdm
ipykernel
notebook
